<ul>
  <li>Name: <%= @user.name %></li>
  <li>Role: <%= @user.designer ? "Designer" : "Homeowner" %></li>
</ul>
<h2>Rooms:</h2>
<ul>
  <% @user.rooms.each do |room| %>
    <li><%= link_to room.description, room_path(room) %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit your information", edit_user_path(@user) %>
</div>

<div>
  <%= current_user == @user ? "You own the following furniture:" : "#{@user.name} owns the following furniture:" %>
    <table>
      <tr>
        <th>Room</th>
        <th>Item</th>
      </tr>
      <% @user.furniture_pieces.each do |piece| %>
        <tr>
          <td><%= link_to piece.room.description, room_path(piece.room) %></td>
          <td><%= link_to piece.furniture.description, furniture_path(piece.furniture) %></td>
        </tr>
      <% end %>
    </table>
  
</div>