<h1><%= "#{@user.name} | #{@user.designer ? 'Designer' : 'Homeowner'}" %><h1> 
<h2>Rooms:</h2>
<ul>
  <% @user.rooms.each do |room| %>
    <li><%= link_to room.description, room_path(room) %></li>
  <% end %>
</ul>

<div>
  <h2><%= current_user == @user ? "You own the following furniture:" : "#{@user.name} owns the following furniture:" %></h2>
    <table>
      <tr>
        <th>Room</th>
        <th>Item</th>
      </tr>
      <% @user.furniture_pieces.each do |piece| %>
        <tr>
          <td><%= link_to piece.room.description, room_path(piece.room) %></td>
          <td><%= link_to piece.furniture.description, furniture_path(piece.furniture) %></td>
        </tr>
      <% end %>
    </table>
</div><br>

<div>
  <%= link_to_if(@user == current_user, "Edit your information", edit_user_path(@user)){} %>
</div>
<div>
  <%= link_to_if(@user == current_user && @user.designer, "Create new furniture piece", new_user_furniture_path(@user)){} %>
</div>