<h1><%= @furniture.description %></h1>
<h3><%= "Price: #{@furniture.price} "%></h3>
<h3>Dimensions:</h3>
<ul>
  <li><%= "Width: #{@furniture.width}" %></li>
  <li><%= "Depth: #{@furniture.depth}" %></li>
  <li><%= "Height: #{@furniture.height}" %></li>
</ul>