<nav class="">
  <ul>
    <% if current_user %>
      <li>Hi, <%= current_user.name %>!</li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Furniture", furnitures_path %></li>
      <li><%= link_to "Rooms", rooms_path %></li>
      <li><%= link_to "Users", users_path %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>
